* {
    margin: 0;
    padding: 0;
    font-family: monospace; 
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.mainlink {
    color: black;
    font-size: 1.5em;
    text-align: center;
}

.mainlink a {
    text-decoration: underline;
    color: black;
}

.group {
    margin-top: 1em;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group h1 {
    margin-bottom: .4em;
}

.group h2 {
    margin: .5em 0;
}

.groupText {
    margin: .25em 0;
}

.section {
    margin: 1em 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section p {
    width: auto;
    text-align: center;
    margin-bottom: 1em;
}

.section h2 {
    margin-bottom: 1em;
}

.sectionClick {
    padding:.2em;
    display: inline-flex;
    align-items: center; 
    justify-content: center;

    width:100%;
    height: auto;
    cursor: pointer;

    background-color: white;

    border: none;

    font-size:1.25em;
    margin-bottom: .25em;
}

.sectionClick i {
    margin-left:.75em;
}

.hidden {
    display: none;
}

.show {
    display: inline-flex;
}

.bold {
    font-weight: 900;
}

/* Phone */

@media screen and (max-width: 800px) {

    .main {
        width:100%;
        height: auto;
    }

    .sidebar {
        display:inline-flex;
        flex-direction: row;
        margin-top: 1em;
        align-items: flex-start;
    }

    .sidebar a {
        margin: 0 .25em;
    }

    .guideImg {
        width: 100%;
        height: auto;
        margin: 1em 0 2em 0;
    }

    .group {
        width: 100%;
    }
    
    .groupHr {
        height: 1px;
        background-color: lightgray;
        border: none;
        width: 90%;
        margin-bottom: 1em;
    }
}

/* Web */

@media (min-width: 801px) {


    .sidebar {
        display:inline-flex;
        flex-direction: column;
        padding: 1em;
        align-items: flex-start;
        
        position: fixed;
        left: 2em;
        top: 0;
    }

    .guideImg {
        width: 80%;
        height: auto;
        margin: 1em 10% 2em 10%;
    }

    .main {
        width:30vw;
        height: auto;
    }

    .group {
        width: 100%;
    }

    .groupHr {
        height: 1px;
        background-color: lightgray;
        border: none;
        width: 50%;
        margin-bottom: 1em;
    }

}